@import "tailwindcss";
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #E9FFDB, #B2EC5D, #00AB66);
  }
  h3 {
    font-family: 'Niconne';
  
}
h2,p{
  font-family: 'Bona+Nova+SC';
}